![Los Molinos](https://static.wixstatic.com/media/04dbdd_6ac7a761fc94425cab4f6e71e79667fb~mv2.png/v1/fill/w_182,h_82,al_c,q_85,usm_0.66_1.00_0.01/LOGO%20LOS%20MOLINOS%20NUEVO.webp)
---

# Membresías Los Molinos

## Análisis de componentes y factibilidad

---

In [11]:
import 
''' Definimos los costos
'''

CostoNoche = 33
DesayunoNoche = 14 
PaseoVelero = 20
DolarOficial = 95
DolarBlue = 141
AlquilerVelero6hs = 50
AlquilerLancha3hs = 50
ExpensasXSemana = 245
IntercambioNacional = 240
IntercambioInternacional = 369
Categorias = ['silver','gold','platinum']
Semanas = [1,2,4]
Years = [1,3,5]

SyntaxError: invalid syntax (<ipython-input-11-46466437765d>, line 1)

In [12]:
print("-------\n","Cuesta {} por casa la noche".format(CostoNoche))

-------
 Cuesta 33 por casa la noche

## Objetivo

- Setear costos
- Visualizar un mapa de calor de Precios en Dólares
- Idem en Pesos
- Idem en cuotas en pesos

In [13]:
'''Costos'''

SemanaSilver=(CostoNoche*7)*1.33
SemanaGold=(CostoNoche*7)*1.07+(DesayunoNoche*7)
SemanaPlatinum=(CostoNoche*7)+(DesayunoNoche*7)+AlquilerLancha3hs

print("Silver: USD"+str(SemanaSilver)+" ARS"+str(int(SemanaSilver*DolarOficial)))
print("Gold: USD"+str(SemanaGold)+" ARS"+str(int(SemanaGold*DolarOficial)))
print("Platinum: USD"+str(SemanaPlatinum)+" ARS"+str(int(SemanaPlatinum*DolarOficial)))

Silver: USD307.23 ARS29186
Gold: USD345.17 ARS32791
Platinum: USD379 ARS36005

---
## Membresía Gold

- 7 días en Baja y 7 en Alta
- Con desayuno
- 1 Paseo en Velero o Lancha por semana
- 30% Descuento en Restaurant
- Membresía RCI

In [5]:
for i in Years:
    precio=(i*SemanaPlatinum)
    print("El precio para " +str(i)+" años es Dólares: USD" +str(precio)+" = en pesos: ARS"+str(precio*DolarBlue)+"\n")
    exit

El precio para 1 años es Dólares: USD379 = en pesos: ARS53439

El precio para 3 años es Dólares: USD1137 = en pesos: ARS160317

El precio para 5 años es Dólares: USD1895 = en pesos: ARS267195

*** 
---

## Membresía Silver
- 7 días en 1 año
- Solo **Baja Temporada**
- Fraccionable 4 y 3
- Sin desayuno

In [9]:
for i in Years:
    precio=(i*SemanaSilver)*4
    print("El precio para " +str(i)+" años es Dólares: USD" +str(int(precio))+" = en pesos: ARS"+str(int(precio*DolarBlue))+"\n")
    exit

El precio para 1 años es Dólares: USD1228 = en pesos: ARS173277

El precio para 3 años es Dólares: USD3686 = en pesos: ARS519833

El precio para 5 años es Dólares: USD6144 = en pesos: ARS866388

---

### Un Año **Silver**
- Solo Baja Temporada / Sin Desayuno
- Fraccionable 3 + 4
- Expensas anuales 35 por día


|Años|7|14|
|--|--|--|
|Uno|43319|86638|
|Tres|129958|259916|
|Cinco|216597|433194|

In [16]:
for i in Years:
    precio=(i*SemanaGold)*2
    print("El precio para " +str(i)+" años es Dólares: USD" +str(int(precio))+" = en pesos: ARS"+str(int(precio*DolarBlue))+"\n")
    exit

El precio para 1 años es Dólares: USD690 = en pesos: ARS97337

El precio para 3 años es Dólares: USD2071 = en pesos: ARS292013

El precio para 5 años es Dólares: USD3451 = en pesos: ARS486689

---

### Un Año **Gold**
- Una semana baja fraccionable en 2
- Una semana en Alta Temporada
- Fraccionable 
- Expensas anuales 35 por día


|Años|7|14|21|28
|--|--|--|--|--|
|Uno|32791|65582
|Tres|98373|196746
|Cinco|163955|327911