In [4]:
My_list = []
My_list1 = list()

In [2]:
type(My_list)

list

In [5]:
type(My_list1)

list

In [8]:
%timeit My_list = []

64.9 ns ± 2.37 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [9]:
%timeit My_list = list()

160 ns ± 4.04 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [3]:
import pandas as pd

In [4]:
%time
%timeit
start = time.time()

## Create a Pandas dataframe from reader
df = pd.DataFrame(reader.readrows())
end = time.time()
print('Time taken ', end-start,' seconds')

CPU times: user 7 µs, sys: 2 µs, total: 9 µs
Wall time: 17.2 µs

NameError: name 'time' is not defined

In [5]:
vuelos = pd.read_csv('Vuelos_18_24AUG.csv')

In [6]:
vuelos.head()

,Página,Número de visitas a páginas,Número de páginas vistas únicas,Promedio de tiempo en la página,Entradas,Porcentaje de rebote,Porcentaje de salidas,Valor de página
0,/es/algarroboviajesyturismo/vuelos/resultados/...,9,5,00:05:57,2,"0,00 %","44,44 %","0,00 US$"
1,/es/marielalonneturismo/vuelos/resultados/BUE/...,8,2,00:04:48,0,"0,00 %","0,00 %","0,00 US$"
2,/es/tramuntana/vuelos/resultados/MAD/BUE/16-12...,8,4,00:05:39,1,"0,00 %","25,00 %","0,00 US$"
3,/es/sayonaratour/vuelos/resultados/BUE/MIA/28-...,7,3,00:06:49,0,"0,00 %","28,57 %","0,00 US$"
4,/es/adn/vuelos/resultados/JUJ/BUE/28-08-2021/?...,6,1,00:02:39,0,"0,00 %","0,00 %","0,00 US$"